html{
    /* background-color: #000; */
}

.mobile-calculator-box{
    z-index: 99;
    background-color: #000;
    margin: 0;
}

.mobile-calculator-box .row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
    overflow: hidden;
}

.mobile-calculator-display{
    color: white;
    /* background-color: #000; */
    margin: 0 !important;
    overflow: hidden;

    font-size: 64px;
    text-align: left;
    border: #000 solid 5px;
    /* padding-right: 15px;
    padding-top: 115px; */
    
}

.mobile-buttons-all{
    position: absolute;
    bottom: dvh;
    border: 1px solid #000;
    background-color: #000;
}

.mobile-button{
    border: 4px solid black;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 73%, 0.3);
    border-radius: 50%;   
    color: white; 
    font-weight: 700;
    
    font-size: 62px;
}

.mobile-button:hover{
    box-shadow: none;
    background: hsl(0, 0%, 69%);
    background-color: #000;

}