.mobile-notes-box{
    height: 84dvh;
}

.mobile-notes-text-box{
    width: 100%;
    height: 76dvh !important;
    height: fit-content;
    border: none;
    border: solid 1px blue;
    &:active{
        border: none;
    }
    &:hover{
        border: 1px solid red;
    }
}

.mobile-notes-text-label{
    font-weight: 600;
    font-size: 32px;
}
