.mobile-notes-box{
    height: 84dvh;
}

.mobile-notes-text-box{
    width: 100%;
    height: 76dvh !important;
    height: fit-content;
    border: 0px solid white;
}

.mobile-notes-text-label{
    font-weight: 600;
}
