.background-box{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background-color: white;
    border-radius: 0 0 4px 4px;
}

.background-header{
    margin-top: 3px;
    font-size: 22px;
}

.background-current{
    height: 80px;
    width: 160px;
    background-color: green;
    margin: 3px 3px 3px 10px;
    border: 1px solid #000;
}

.background-current-color{
    background-color: var(--main-bg-color);
}
.background-current-img{
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-dropdown-title{
    margin-left: 0px;
}

.background-dropdown{
    margin-left: 0;
    padding-left: 8px;
}

.background-custom-dropdown{
    font-size: 16px;
    padding: 4px 4px 4px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
    width: auto;
    cursor: pointer;
    display: block;
}

.background-color-container{
    padding: 10px;
    margin-left: 10px;
}

.background-background-color{
    aspect-ratio: 1/1;
    border: 1px solid #000;
    cursor: pointer;
}

.background-picture-container{
    padding: 3px 10px 0 10px;
    margin-left: 8px;
}

.background-img-container{
    padding: 3px 10px 0 10px;
    margin-left: 8px;
}


.background-background-img{
    cursor: pointer;
    padding: 10px;
    width: 120px;
}

.background-drawing-container{
    padding: 3px 10px 0 10px;
    margin-left: -6px;
    width: 480px;
}

.background-background-drawing{
    cursor: pointer;
    padding: 10px;
    width: 119px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 !important;
    margin: 1px !important;
}

.background-scrollable-container{
    margin-top: 5px;
    width: 600px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 0 4px;
}

.background-scrollable-container::-webkit-scrollbar-track,
.background-scrollable-container::-webkit-scrollbar-thumb,
.background-scrollable-container::-webkit-scrollbar-corner
{
    border-radius: 0 0 0 4px;
}

.background-scrollable-container::-webkit-scrollbar{
    width: 8px;
}

.background-scrollable-container::-webkit-scrollbar-thumb{
    background: #a8a8a8;
    border-radius: 0 0 2px 0;
}

.background-scrollable-container::-webkit-scrollbar-thumb:hover{
    background: #a0a0a0;
}

.background-scrollable-container::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 0 0 4px 0;
}