.my-project-item{
    margin: 10px 0 5px 0;
}

.my-project-title{
    margin-left: 2px;
}

.my-project-btn{
    text-align: center;
    margin-top: 2px;
    border: 1px solid #000;
    width: 90%;
    margin-left: 5%;
    color: black;
    border-radius: 2px;
    text-decoration: none;
}