.paint-box{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background: lightgray;
    border-radius: 0 0 4px 4px;
}


.paint-text-label{
    margin-top: 10px;
    font-size: 19px;
    margin-bottom: 1px;
    margin-right: 19px;
    margin-left: -8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.paint-text-label:hover{
    cursor: pointer;
}

.paint-text-btn{
    margin-top: 10px;
    padding: 0 !important;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.paint-text-btn-mr{
    margin-right: 5px;
}

.paint-text-btn:hover{
    background-color: rgb(179, 153, 153);
    color: white;
    cursor: pointer;
}

.paint-text-label-edit{
    margin-top: 10px;
    margin-right: 8px;
}

.paint-text-label-edit:focus{
    outline: none;
}

.paint-text-label-edit-btn{
    margin-top: 10px;
    padding: 0 !important;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.paint-text-label-edit-btn:hover{
    background-color: rgb(179, 153, 153);
    color: white;
    cursor: pointer;
}

.paint-text-edit-container{
    width: 100%;
    margin-left: 0px;
}

.paint-open-header{
    cursor: default;
}

.paint-open-list{
    background: lightgray;
    position: absolute;
    border: 2px solid #808080;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    border-radius: 6px;
    top: -25px;
    left: 0;
}

.color-container{
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: -10px;
}

.color{
    border: 1px solid #000;
    height: 10px;
    aspect-ratio: 1/1;
    margin: 3px 5px 2px 5px;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}

.paint-container{
    margin-top: 3px;
    margin-left: -4px;
    height: 340px;
    width: 630px;
    background: white;
    border-radius: 4px 4px 4px 4px;
}

.paint-canvas{
    width: calc(100% + 25px);
    height: 100%;
    border: 1px solid #000;
    border-radius: 4px 4px 4px 4px;
    cursor: crosshair;
}

.paint-open-item{
    padding: 10px 10px 10px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.paint-open-item:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.paint-scrollable-container{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 0 4px;
}

.paint-scrollable-container::-webkit-scrollbar-track,
.paint-scrollable-container::-webkit-scrollbar-thumb,
.paint-scrollable-container::-webkit-scrollbar-corner
{
    border-radius: 0 0 0 4px;
}

.paint-scrollable-container::-webkit-scrollbar{
    width: 8px;
}

.paint-scrollable-container::-webkit-scrollbar-thumb{
    background: #a8a8a8;
    border-radius: 0 0 2px 0;
}

.paint-scrollable-container::-webkit-scrollbar-thumb:hover{
    background: #a0a0a0;
}

.paint-scrollable-container::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 0 0 4px 0;
}

.paint-open-empty{
    padding: 0 0 0 25px;
    margin: 10px;
}
