.mobile-header{
    height: 6dvh;
    align-items: center;
    background-color: lightgray;
    font-size: 32px;
}

.mobile-icon{
    height: 3dvh;
    margin-left: 4px;
    &:first-child{
        height: 3.7dvh;
        margin-bottom: 3px;
    }
    &:last-child{
        margin-right: -6px;
    }
}

.mobile-footer{
    height: 10dvh;
    text-align: center;
    align-items: center;
    font-size: 36px;
    /* background-color: rgba(0, 0,0, 0); */
    color: white;
}

.mobile-grid{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 12dvh;

}

.mobile-grid-space{
    display: flex;
    /* border: 1px solid #000; */
    align-items: center;
    justify-content: center;
    height: 100%;
}