*{box-sizing: border-box;}

:root{
  --hover-color: hsl(0, 0%, 91%);
  --open-color: hsl(0, 0%, 89%);
  --main-bg-color: green;
  /* --bg-img: none; */
  --bg-img: url("../public/backgrounds/background10.jpg");
}

html{
  user-select: none;
  overflow: hidden;
}

body{
  overflow: auto;
}

/* General */
.hidden{
  display: none;
}

/* Desktop */
.desktop{
  background-color: var(--main-bg-color);
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

/* Footer */
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: hsl(0, 0%, 83%);
}

.start{
  font-size: 22px;
  width: fit-content;
  padding: 4px 5px;
}

.start:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

.logo{
  height: 36px;
  padding: 3px 8px 0px 5px;
}

.search-bar .form-control{
  box-shadow: none !important;
  border-radius: 0;
  margin: 0 !important;
  height: 100%;
  width: 100% !important;
  padding-left: 40px !important;
}

.search-bar{
  position: relative;
}

.search-icon{
  position: absolute;
  height: 23px;
  top: 50%;
  transform: rotate(90deg) translate(-50%, -50%);
}

.widgets{
  display: flex;
  height: 100%;
  align-items: center;
}

footer .col-2{
  padding: 0 !important;
}

.footer .col {
  margin: none !important;
  padding: 0 !important;
}

/* Widget */

.widget-border{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.widget{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px 7px;
}

.widgets > .widget-border:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

/* DateTime */

.date-time{
  height: 100%;
  position: absolute;
  right: 0;
  padding: 4px 6px 0 6px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.date-time:hover{
  cursor: pointer;
  background-color: var(--hover-color);
}

.date-time-info{
  height: 500px;
  width: 260px;
  position: absolute;
  background-color: var(--open-color);
  right: 0px;
  bottom: 55px;
  box-shadow: -5px -5px 20px 1px rgba(0,0,0,0.2);
}

.date-time-info{
  cursor: default;
}

.date-time-info-line-top{
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  height: 0.5px;
  position: absolute;
  bottom: 0px;
}

.date-time-info-line-bottom{
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  height: 0.5px;
  position: absolute;
  bottom: -250px;
}

.time-info{
  height: 100px;
  width: 100%;
  position: relative;
}

.current-time{
  position: absolute;
  left: -1px;
  top: 40%;
  transform: translate(20px, -50%);
  font-size: 32px;
}

.current-date{
  position: absolute;
  left: 0;
  top: 70%;
  transform: translate(20px, -50%);
}

/* Calander */

.calander{
  height: 250px;
  width: 100%;
  position: absolute;
  top: 100px;
}

.calander-date-box{
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  padding-top: 5px;
}
.calander-date{
  display: flex;
  margin-left: 0;
  margin-bottom: 4px;
  padding-left: 20px;
}

.calander-toggle{
  width: 20px;
  margin-bottom: 4px;
  margin-left: -9px;
}

.calander-toggle:hover{
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50%;

}

.calander-week-day{
  padding: 4px 8px;
}

.calander-week-day-list{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
  width: 100%;
  padding: 0;
  margin: 0 0 2px 0;
  list-style-type: none;
}

.calander-week-day-item{
  font-size: 10px;
  text-align: center;
  width: calc(100%/7);
}

.calander-day-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: 0;
}

.calander-day-item{
  font-size: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.calander-day-item:hover{
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.calander-date-out-of-month{
  color: hsl(0, 0%, 55%);
}

.calander-date-today{
  background-color: hsl(202, 31%, 73%);
}

/* Desktop Grid : fixme delete*/

.desktop-grid{
  position: absolute;
  border: 1px solid #000;
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
}

.desktop-grid > .row{
  display: flex;
  text-align: center !important;
  justify-content: center;
}

.desktop-grid > .row > .col{
  border: 1px solid #000;
  background-color: red;
  height: 40px !important;
  width: 40px !important;
  padding: 36px;
  display: flex;
  text-align: center !important;
  justify-content: center;
}

/* Application */
.application{
  width: fit-content;
  /* border: 1px solid #000; */
  width: 90px;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin: 0px; 
  border: 1px solid rgba(0,0,0,0);
}

.application:hover{
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}

.application-box{
  padding: 10px;
}

.application-app{
  padding: 0;
  margin: 0;
}
.application-name-box{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
}

.application-name{
  
  font-size: 12px;
  color: white;
  text-shadow: 
  0 0 2px rgba(0, 0, 0, 1.0),
  0 0 1px rgba(0, 0, 0, 0.9),
  0 0 1px rgba(0, 0, 0, 0.9);
}

/* Window */

.window-box{
  position: absolute;
  border: 2px solid #808080;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

.window-header{
  padding: 3px 7px;
  width: 100%;
  background: linear-gradient(to right, #0040ff, #4169e1);
  color: white;
  cursor: move;
  display: flex;
  align-items: center;
  font-size: 12;
}

.window-logo{
  width: 18px;
  padding: 1px;
  margin-right: 4px;
}

.window-widgets-container{
  margin-left: auto;
  display: flex;
}

.window-widget{
  display: flex;
  width: 18px;
  aspect-ratio: 1/1;
  background-color: #a0a0a0;
  border: 1px solid #000;
  padding: 2px;
  margin: 0px 3px 0px 0px;
  color: black;
  cursor: pointer;
}

.window-widget:hover{
  background-color: #c0c0c0;
}

.window-content{
  padding: 10px;
}
